/*fonte*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    width: 100%; 
}

/*Header*/

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height: 113px;
    max-width: 1400px;
    margin: auto;   
}

.menu-hamburguer {
    display: none;
}

.header-title {
    font-weight: bold;
    font-size: 40px;
}

header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li {
    margin: 0 15px;
    text-align: center;
    width: 90px;
}

header nav ul li a {
    text-decoration: none;
    color:#000;
    font-size:20px;
}

.menu-list:hover {
  font-weight: 900;
}

.header-titles {
    background-image: url(img/laranja\ azul\ recorte.png);
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center;
    height: 70vh;
    color: #FFFFFF;
    display: flex;
} 

.header-main {
    width: 90%;
    max-width: 1400px;
    margin: auto;
}

.header-titles h2 {
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 18px;
} 

.header-titles h3 {
    font-size: 33px;
    font-weight: lighter;
}

/*Header*/

/*Conteúdo principal*/

.main-galleries {
    width: 90%;
    max-width: 1400px;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 60px;
}

.box-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery-photos {
    width: 303px;
    margin: 2px;
}

/*Conteúdo principal*/

/*Footer*/

footer {
    background-color: #D3D3D3;
}

.footer-medias {
    width: 80%;
    max-width: 1400px;
    margin: auto;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icons-facebook {
    width: 15px;
    margin-right: 10px;
}

.icons{
    width: 32px;
    margin-right: 10px;
}

.footer-box {
    width:63%;
}

.footer-ref {
    width: 100%;
    display: flex;
    align-items: center;
}

.footer-copyright {
    font-weight: 700;
    width: 17%;
}

.footer-layout {
    width: 83%;
    font-size: 13px;
}

button {
    display: none;
}

/*Footer*/

/*Conteúdo responsivo*/

@media (max-width: 950px) {
    header nav ul li{
        margin: 0 9px;
        width: 82px;
    }

    header nav ul li a {
        font-size: 20px;
    }
    
    .footer-references {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: end;
    }
   
@media (max-width: 768px) {
    .header-container {
        width: 100%;
        height: 8vh;
        justify-content: flex-start;
    }

    .header-logo {
        width: 50%;
        display: flex;
        justify-content: center;
    }

    .header-title {
        font-size:27px;
    }

    nav {
        display: none;
    }

    .barra-um,
    .barra-dois,
    .barra-tres {
        background-color: #fff;
        height: 5px;
        width: 39%;
        margin: 4px auto;
    }

    .menu-hamburguer {
        width: 145px;
        height: inherit;
        background-color: #000;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .footer-base{
        flex-direction: column;
        height: auto;
        align-items: end;
    }

    .icons-medias{
        width: 100%;
        text-align: center;
    }

@media (max-width: 540px) {
    .header-container{
        width: 100%;
    } 

    .header-titles{
        background-image: url(img/laranja\ azul\ recorte@2x.png);
        background-size: cover;
        background-repeat: no-repeat;
    }

    nav {
        display: none;
    }
    
    button {
        display: inline;
        background-color: #333333;
        width: 69px;
        height: 4vh;
    }

    footer {
        width: 80%;
        margin: auto;
        background-color: #fff;
    }

    .footer-base {
        display: inline;
    }

    .icons-medias {
        width: 100%;
        background-color: #7FDBD4;
        display: flex;
        justify-content: space-around;  
    }

    .footer-ref {
        width: 66%;
        display: inline-block;
        white-space: pre-line;
    }

    .footer-copyright {
        width: 100%;
    } 

    .footer-layout {
        width: 100%;
        font-size: 12px;
        word-break: break-word;
    }

    button a {
        text-decoration: none;
        color: #cccccc;
        cursor: pointer;
    }

    .footer-box {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: inherit;
    }

    /*Conteúdo responsivo*/